@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


@fira : 'Fira Sans',
sans-serif;

html,
body {
   overflow-x: hidden;
}

.container,
.prelative.container {
  max-width: 1130px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div{
  font-family: @fira;
}

.fcs-wrapper {
  position: relative;
  background: #f5f2ec;

  .slider-container {
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%;

    .slider-kiri {
      max-width: 425px;
      vertical-align: middle;
      display: table-cell;
      height: 100%;

      .content {
        max-width: 425px;
        margin: 0 auto;

        h4 {
          color: #ffffff;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }

        p {
          font-size: 13px;
          color: #ffffff;
          text-align: center;
          padding-top: 12px;
        }

        .lihat {
          margin-top: 20px;
          // margin: 0 auto;
          text-align: center;

          a {
            margin-top: 50px;
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            background: #e67817;
            padding: 12px 30px;
          }
        }
      }
    }
  }
}

.container.cont-fcs {
  max-width: 100%;
  padding: 0;
}

section.home-sec-1 {
	padding-top: 130px;
  .boxed-descriptions {
    .inner {
      h3 {
        max-width: 500px;
        font-weight: 700;
        font-size: 50px;
        color: #006e9f;
        line-height: 1.1;
      }

      p {
        font-size: 17px;
        color: #484848;
        font-weight: 300;
        padding-top: 15px;
      }

      button.our-button {
        background: #c52026;
        width: 160px;
        height: 40px;
        border-radius: 25px;
        border: 0;
        margin-top: 20px;

        a {
          color: #ffffff;
          font-size: 15px;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }

  .boxed-images {
    .inner-left {
      position: relative;

      img {
        float: right;
        margin-right: -50px;
        margin-bottom: 50px;
      }
    }

    .inner-right {
      position: relative;

      img {
        // float: right;
        margin-left: -250px;
        // margin-bottom: 50px;
      }
    }
  }
}

.section-kanan-home1 {
  margin-top: 100px;
}

header.header-mantap{
	position: relative !important;
}

header.header{
  width: 100%;
  height: 101px;
  background: url("../images/backs_headers_n1.jpg") top center no-repeat;
  background-size: cover;
	position: absolute;
	z-index: 100;
  .inners_head{
    display: block;
    height: 101px;
    background: url("../images/backs_headers_n-inners_2.jpg") top center no-repeat;
  }

  .tops_head_info{
    display: block;
    padding-top: 2px;
    p{
      font-size: 11px;
      font-weight: 400;
      color: #5695b8;
      a{
        color: #5695b8;
        text-decoration: none;
      }
      a:focus,
      a:hover{
        text-decoration: none;
      }
    }
  }
  .top-menu{
    ul{
      margin: 0;
      li{
        a{
          font-size: 15px;
          font-weight: 400;
          color: #484848;
          border-bottom: 2px solid #fcf7fb;
          padding-bottom: 0.3rem;
        }
        a:hover,
        a:focus{
          text-decoration: none;
          border-bottom: 2px solid #c52026;
        }
        margin-right: 0;
        padding: 0 12px;

        .dropdown-menu{
          margin-top: 1.03rem;
          border: 0px;
          background-color: #fcf7fb;
          ul{
            margin: 0;
            padding: 0;
            li{
              padding: 0.5rem 0;
              padding-left: 1rem;
              a{
                font-size: 15px;
                font-weight: 400;
                color: #484848;
                border-bottom: 0px;
              }
              border-bottom: 0px;
            }
          }
        }
      }
      li.active{
        a{
          text-decoration: none;
          border-bottom: 2px solid #c52026;
        }
      }

      .dropdown-menu{
        ul{
          margin: 0;
          padding: 0;
          li{
            padin
            a{
              font-size: 15px;
              font-weight: 400;
              color: #484848;
              border-bottom: 0px;
            }
            border-bottom: 0px;
          }
        }
      }

      li:last-child{
        padding-right: 0;
      }
      li.last.contacts{
        a{
          font-size: 15px;
          font-weight: 700;
          color: #c52026;
          padding: 0.6rem 1.6rem;
          border: 2px solid #c52026;
          border-radius: 25px;
        }
      }
    }
    clear: both;
  }
}

section.home-sec-2 {
  margin-top: -40px;
  background: #071529;
  min-height: 310px;
  display: table;
  vertical-align: middle;
  height: 100%;
  width: 100%;

  .prelative.container {
    // max-width: 1130px;
    vertical-align: middle;
    display: table-cell;
    height: 100%;

    .row {
      max-width: 1130px;
      margin: 0 auto;

      .boxed {
        // margin: 0 auto;
        text-align: center;
        position: relative;

        // display: inline-block;
        .inner1 {
          h4 {
            font-size: 73px;
            color: #f0afc5;
            font-weight: 700;
          }

          p {
            font-size: 19px;
            color: #ffffff;
            font-weight: 700;
          }
        }

        .inner2 {
          h4 {
            font-size: 73px;
            color: #f7dea6;
            font-weight: 700;
          }

          p {
            font-size: 19px;
            color: #ffffff;
            font-weight: 700;
          }
        }

        .inner3 {
          h4 {
            font-size: 73px;
            color: #cde9ac;
            font-weight: 700;
          }

          p {
            font-size: 19px;
            color: #ffffff;
            font-weight: 700;
          }
        }

        .inner4 {
          h4 {
            font-size: 73px;
            color: #feacb0;
            font-weight: 700;
          }

          p {
            font-size: 19px;
            color: #ffffff;
            font-weight: 700;
          }
        }
      }
    }
  }
}

section.home-sec-3 {
  background-image: url('../images/home-sec-3_02.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 1190px;

  h3 {
    font-size: 30px;
    color: #006e9f;
    padding-top: 145px;
    text-align: center;
    padding-bottom: 30px;
  }

  .image {
    margin: 0 auto;
    position: relative;
    border-right: 1px solid #e1e1e1;

  }

  .image.kanan {
    border: none;
  }
}

section.home-sec-4 {
  background: #b61c4c;
  min-height: 310px;

  .image {
    img {
      z-index: 150;
      position: relative;
      margin: 0 auto;
      text-align: center;
      display: block;
      margin-top: -145px;
    }
  }

  .subtitle {
    padding-top: 25px;

    h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      text-align: center;

    }
  }

  .caption {
    p {
      color: #ffffff;
      font-size: 17px;
      text-align: center;
      font-weight: 300;
    }
  }

  form {
    margin: 0 auto;
    padding-top: 15px;

    .form-row {
      width: 1000px;

      input {
        background: #bf2758;
        border: 1px solid #f192ae;
        border-radius: 25px;
        width: 270px;
        height: 40px;
      }

      input::placeholder {
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
      }
    }

    button.submit {
      width: 160px;
      background: #ffffff;
      border-radius: 25px;
      height: 40px;
      border: none;
      color: #bf2758;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

section.home-sec-5 {
  min-height: 195px;
  background: #eef5fb;

  .image {
    margin-bottom: 15px;
  }

  .box-content {
    margin: 0 auto;
    position: relative;
    border-right: 1px solid #e1e1e1;
    margin-top: 50px;
    text-align: center;

    h6,
    p {
      color: #5695b8;
    }
  }

  .box-content.kanan {
    border: none;
    margin-bottom: 15px;
  }
}

section.footer {
  background: #ffffff;
  min-height: 93px;

  .image {
    margin-top: 25px;

    p {
      color: #a1a1a1;
      display: inline-block;
      top: 6px;
      position: relative;
      margin-left: 20px;
      font-size: 10px;
    }
  }

  .by {
    float: right;
    color: #a1a1a1;
    top: 55px;
    position: relative;
    font-size: 10px;

    a {
      text-decoration: none;
      color: #a1a1a1;
    }
  }
}

section.product-support-sec-1{
	background: #f5f2ec;
	.boxed{
		margin-top: 140px;
		margin-bottom: 50px;
		h3{
			color: #006e9f;
			font-size: 28px;
			text-align: center;
			max-width: 765px;
			margin: 0 auto;
		}
	}
	.image{
		img{
			z-index: 100;
			margin: 0 auto;
			position: relative;
			display: block;
		}
		//margin-top: 10px;
	}
}

section.product-support-sec-2{
	background-color: #f5f2ec;
	background-image: url('../images/about-background_03.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 1265px;
	margin-top: -300px;
	position: relative;
	z-index: 50;
}

section.cover-inside {
	display: table;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	min-height: 460px;
	// background-color: rgba(76, 175, 80, 0.3);
	background: url('../images/Layer-37.jpg') center center;
	background-size: cover;
	background-repeat: no-repeat;

	.prelative.container {
		vertical-align: middle;
		display: table-cell;
		height: 100%;
		.content {


			.title {
				text-align: center;
				font-weight: 700;
				font-size: 20px;
				color: #ffff;
			}

			.subtitle {
				text-align: center;
				font-weight: 700;
				font-size: 45px;
				color: #ffff;
				line-height: 0.6;
			}
		}

		.box-model{
			margin: 0 auto;
			width: 605px;
			height: 65px;
			background: #d3aaac;
			box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);
			p{
				margin: 0 auto;
				padding-top: 18px;
				text-align: center;
				a{
					text-decoration: none;
					color: #ffffff;
					font-size: 20px;
				}
			}
			.kanan{
				height: 65px;
			}
			.active{
				height: 65px;
				background: #c52028;
			}
		}
	}

}

.blocks_bottomnavcover{
	position: absolute;
	bottom: -32.5px;
	left: 0;
	width: 100%;
	z-index: 25;
	.inner-midle{
		display: block;
		margin: 0 auto;
	}
}



.prelative{
	position: relative;
}


.fcs-wrapper{
	.carousel-item.active.home-slider-new.full-screen{
		.carousel-caption.caption-slider-home.mx-auto{
			display: table;
			vertical-align: middle;
			height: 100%;
			width: 100%;
			.prelatife.container.mx-auto{
				vertical-align: middle;
				display: table-cell;
				height: 100%;
				.bxsl_tx_fcs{
					max-width: 340px;
					h5{
						font-weight: 700;
						font-size: 21px;
						color: #006e9f;
						padding-bottom: 5px;
					}
					p{
						padding-top: 18px;
						font-weight: 300;
						font-size: 16px;
						color: #484848;
					}
					button{
						background: transparent;
						font-size: 15px;
						font-weight: 700;
						border: 1px solid #c52026;
						border-radius: 20px;
						color: #c52026;
						padding: 10px 20px;
						float: left;
						cursor: pointer;
					}
				}

			}
		}
	}

}


section.about-visimisi-sec-1 {
	font-family: @fira;
	background-color: #f5f2ec;
	z-index: 100;

	.boxed-tittle-visimisi {
		margin-top: 140px;
		margin-bottom: 100px;

		.inner {
			max-width: 800px;
			margin: 0 auto;
			display: block;

			h3 {
				color: #006e9f;
				font-size: 28px;
				text-align: center;

			}
		}
	}

	.prelative.container2 {
		margin: 0 auto;
		display: block;
		max-width: 920px;
	}

	.divide {
		border-bottom: solid 5px #cb3c40;
		max-width: 120px;
		margin: 0px 40px;
		bottom: 0;

	}

	h3 {
		font-size: 43px;
		color: #006e9f;
	}

	li {
		font-size: 17px;
		margin-bottom: 30px;
		font-weight: 300;
	}

	.img {
		margin-top: 100px;
		img{
			z-index: 100;
			position: relative;
		}
	}
}

section.about-visimisi-sec-2 {
	background-color: #f5f2ec;
	background-image: url('../images/about-background_03.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 1265px;
	margin-top: -300px;
	z-index: 50;
	position: relative;
}

section.about-background-sec-1 {
	min-height: 720px;
	background-color: #f5f2ec;

	.boxed-tittle-background {
		margin-top: 140px;
		margin-bottom: 35px;

		.inner {
			max-width: 800px;
			margin: 0 auto;
			display: block;

			h3 {
				font-size: 28px;
				color: #006e9f;
				text-align: center;
			}
		}
	}

	.boxed-subtitle-background {
		.inner {
			max-width: 800px;
			margin: 0 auto;
			display: block;

			p {
				text-align: center;
				font-size: 17px;
				margin-bottom: 35px;
			}
		}
	}
}

section.about-background-sec-2 {
	padding-top: 50px;
	background-color: #f5f2ec;
	background-position: center bottom;
	background-repeat: no-repeat;
	position: relative;
	//z-index: 100;
	.up {
		z-index: 150;
	}

	.img {

		img {
			width: 100%;
		}
	}

	h3 {
		margin-top: 190px;
		font-size: 50px;
		color: #006e9f;
		margin-bottom: 30px;
	}

	p {
		font-size: 17px;
		margin-bottom: 30px;
		line-height: 1.3;
	}
}

section.about-background-sec-3 {
	background-color: #f5f2ec;
	background-image: url('../images/about-background_03.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 1265px;
	margin-top: -400px;
	position: relative;
	//margin-top: -300px;
	z-index: 50;
}

section.product-exclusive-sec-1 {
	font-family: @fira;
	background-color: #f5f2ec;
	background-position: center bottom;
	background-repeat: no-repeat;

	.boxedd {
		.inner {
			margin-top: 140px !important;
			max-width: 800px;
			margin: 0 auto;
			display: block;
			margin-bottom: 50px !important;

			h3 {
				color: #006e9f;
				text-align: center;
				font-size: 28px;
			}
		}
	}

	.boxed {
		z-index: 150;
		margin-bottom: 25px;
		min-height: 460px;
		-webkit-box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);
		box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);

		.kiri {
			background-color: #fff;
			padding: 55px;
			min-height: 460px;

			p {

				font-size: 17px;
				font-weight: 300;
			}

		}

		.kanan {
			background-color: #f4eaea;
			min-height: 460px;


		}
	}
}

section.product-exclusive-sec-2 {
	background-color: #f5f2ec;
	background-image: url('../images/about-background_03.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 1265px;
	margin-top: -300px;
	position: relative;
	z-index: 100;
}

ol.carousel-indicators{
	li{
		width: 60px;
		height: 8px;
		background: #c9c9c9;
	}
	li.active{
		background: #fff;
	}
}

.header-affixs.affix-top {
	background-color: #fff;
	top: -1000px;
	position: fixed;
	visibility: collapse;
}

.header-affixs.affix {
	background-color: #fff;

	top: 0px;
	left: 0px;
	position: fixed;
	visibility: initial;
	height: 80px;
}

.header-affixs {
	// background-color: rgba(0, 146, 223, 0.95); #f37021
	background-color: #ffffff;
	width: 100%;
	z-index: 1000;
	height: 90px;
	border-bottom: 3px solid #e4f4fd;
	z-index: 100000;

	.lgo_web_headrs_wb {

		// padding-top: 0.5rem;
		a {
			display: block;
		}
	}
}

.menu-taffix {
	padding-top: 12px;
}

.menu-taffix ul {
	margin: 0;
	padding: 0px;
}

.menu-taffix ul li {
	padding: 0px;
	padding: 0 5px;
}

.menu-taffix ul li a {
	font-size: 13px;
	font-weight: 700;
	color: #484848;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-taffix ul li.active a,
.menu-taffix ul li a:hover {
	text-decoration: none;
	color: #fcfcfc;
}

header.header-mobile.homepage_head .navbar-brand {
	max-width: 130px;
	padding-top: .7em;
	padding-bottom: .7em;
}

button.navbar-toggler {
	border: none;
}

header.header-mobile.homepage_head nav.navbar.navbar-light {
	padding-top: 12px;
}

header.header-mobile.homepage_head ul.navbar-nav li {
	padding: 10px 15px;
}

ul.navbar-nav.mr-auto {
	border-top: 1px solid #ccc;
}

header.header-mobile.homepage_head ul.navbar-nav li {
	border-bottom: 1px solid #ccc;
}

header.header-mobile.homepage_head ul.navbar-nav li.nav-item.last {
	border: none;
}

header.header-mobile.homepage_head .navbar-brand img {
	width: 75%;
}

header.header-mobile.homepage_head ul.navbar-nav li a {
	color: #000;
	text-transform: uppercase;
	font-size: 13px;
	// font-family: Roboto,'Open Sans',Roboto,sans-serif;
	font-weight: 500;
}

.navbar-toggler {
	padding: 0.25rem 2.75rem;
}



@import 'rich-responsive.less';

@import 'pandu.less';

